*{
  margin:0%
}

:root { 
  font-family: 'Inter', sans-serif;
  font-size:100%;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}


#responsive-redesign {
    color: black;
    margin: 0px;
  }
  
.white-title{
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 0%;
  margin: 0%;
}

.black-title{
  font-size: 1.5em;
  margin-bottom: 0;
  text-align: center;
}


.horizontal-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center;
}

.vertical-flex{
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom: 5%;
}

.header{
  background-color:rgb(0, 0, 0);;
  height: auto;
  display: flex;
  justify-content: right;
  align-content:center;
  flex-direction: column;
  padding-left: 2%;
}

h3{
  color: black;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

.still-text{
  display: flex;
  max-width: 50%;
  padding-top: 1em;
  padding-bottom: 2em;
  align-self: center;
  justify-self: center;
}

.title {
  font-weight: bold;
  font-size:10vh;
  padding-top: 1%;
  padding-bottom: 0rem;
  margin: 0%;
  color:#faebd7;
}

.subtitle{
  color: #eb5b5bff;
  font-weight: lighter;
  font-size:1.5em;
  padding-top: 0rem;
  padding-bottom: 1%;
  border:0rem;
  margin: 0%;
}

.sketch{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:black;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: rgb(243, 242, 242);
}

.observations{
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  background-color: #eb5b5bff;
  justify-content: center;
  align-content: center;
}

.observations-text{
  font-weight: normal;
  font-size: 1.2em;
  color: rgb(243, 242, 242);
  width: 80%;
  text-align: left;
}

.personas{
  padding-bottom: 5%;
  padding-top: 5%;
  background-color:rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 0;
}

.image-link{
  display: flex;
  justify-content: center;
}

.website-still{
  justify-self: center;
  align-self: center;
  width: 50%;
  height:auto;
  Border: 10px solid black;
}

.website-still:hover{
  Border: 10px solid #ED5B5B;
}

.wireframe-img{
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: auto;
  max-width: 95%;
  color: rgb(243, 242, 242);
}

.storyboard{
  padding-bottom: 5%;
  padding-top: 10%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.storyboard-img{
  padding-bottom: 1%;
  width: 60%;
  height:auto;
  justify-self: center;
  
}

.high-fi{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:antiquewhite;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: black;
}



